# list of folders not to be included in
**/.vscode
/spike
**/build

# list of files not to be included in
*.o
*.exe
*.aux
*.log
*.out
*.synctex.gz

# formula CMAKE
# everyone is different
**/CMakeLists.txt
/Makefile

# exception
!cppcheck.log