# list of folders not to be included in
**/.vscode
/spike
/build
/googletest/build
/libs
/bin/LIBPRO
/bin/LIBPRO_TEST
/bin/LIBPRO.exe
/bin/LIBPRO_TEST.exe

# list of files not to be included in
*.o
*.exe
*.aux
*.log
*.out
*.synctex.gz

.dropbox
desktop.ini

# exception
!cppcheck.log